.button
  background-color rgb(79, 192, 141);
  border-radius 100px;
  font-size 16px;
  color #fff !important;
  margin 0.2em 0;
  width 200px;
  text-align center;
  padding 12px 24px;
  display inline-block;
  vertical-align middle;
  cursor pointer;

.button:hover
  text-decoration none !important;
