{
  "name": "{{name}}",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {},
  "keywords": [],
  "author": "",
  "license": "GNU",
  "devDependencies": {
    "miraipie": "^1.0.0"
  }
}
